torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
transformers==5.1.0

openai-whisper==20250625

Flask
pyttsx3
scipy
pygame

# Desktop application dependencies
PyQt5
PyQtWebEngine
huggingface-hub

# For building executable
pyinstaller